th {background-color: aqua;}

#equipos {background-color: blue; ;}

tbody {background-color: coral; color: blue;}

.puntos {background-color: crimson; color: floralwhite;}

.orden {background-color: gold; color: greenyellow;}

table {border: 2px;
}